---
title: Tools
description: Tools to help your business and real estate navigate the tax and legal world.
---
{% include head.html %}
  <body data-bs-spy="scroll" data-bs-target="#navScroll">
  {% include nav.html %}
  <main>
    <div class="w-100 overflow-hidden">
      <div class="container-fluid bg-gray-900 text-light ">
        
        <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-12 py-vh-5">
              <h1 class="display-3 fw-bold mt-5 pt-3">{{ page.title }}</h1>
              <p class="lead">{{ page.description }}</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="py-vh-5 w-100 overflow-hidden">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-12">
            <div class="row">
            
              <div class="col-sm-4">
                <div class="card">
                  <img src="/assets/images/hero-calendar.jpg" class="card-img-top" alt="Calendar of tax and legal deadlines">
                  <div class="card-body">
                    <h5 class="card-title h4"><a href="/calendar/" class="text-decoration-none">Tax & Legal Deadlines Calendar</a></h5>
                    <p class="card-text">Explore the calendar featuring key tax and legal deadlines you need to remember throughout the year. Stay organized by keeping track of these important dates to ensure compliance and timely submissions.</p>
                    <a href="/event-calendar/" class="btn btn-primary">View calendar</a></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card">
                  <img src="/assets/images/hero-simulator.jpg" class="card-img-top" alt="Portfolio simulator">
                  <div class="card-body">
                    <h5 class="card-title h4"><a href="/calendar/" class="text-decoration-none">Portfolio simulator</a></h5>
                    <p class="card-text">The simulator will demonstrate how refinancing properties during growth can enable you to acquire more properties and provide tax-free retirement income. You will need to <a href="https://app.mainstreetpulse.com/tools/simulate" class="link-fancy">log in</a> or <a href="https://app.mainstreetpulse.com/register" class="link-fancy">sign up</a> for a free account to use the simulator.</p>
                    <a href="https://app.mainstreetpulse.com/tools/simulate" class="btn btn-primary">View simulator</a></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    {% include disclaimer.html %}
  </main>
  {% include footer.html %}
  </body>
</html>
 



