{% if site.data.settings.basic_settings.logo %}
<img src="{{ site.url }}/assets/images/{{ site.data.settings.basic_settings.logo }}" width="{{ site.data.settings.basic_settings.logo_width }}" alt="{{ site.data.settings.basic_settings.title }}">
{% else %}
<span class="navbar-brand-text d-flex flex-column align-items-start lh-sm">
  <span class="h3 mb-0 fw-bold d-block">{{ site.data.settings.basic_settings.title }}</span>
  {% if site.data.settings.basic_settings.title_byline %}
  <span class="small opacity-75 d-block" style="font-size: 0.8rem;">{{ site.data.settings.basic_settings.title_byline }}</span>
  {% endif %}
</span>
{% endif %}
