<div class="py-vh-3 bg-cta-custom text-light w-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-6 mb-0 pt-3">Get your real estate organized and start tracking your important dates</h2>
        </div>
        <div class="col-12">
          <a class="btn btn-primary btn-xl shadow me-3 my-5 text-bold" href="{{ site.data.settings.basic_settings.register }}" rel="nofollow">
            Sign up for a free trial
          </a>
        </div>
      </div>
    </div>
  </div>
</div>