<div class="py-vh-3 w-100 overflow-hidden" id="workwithus">
  <div class="container">
    <p class="small"><strong>Disclaimer</strong></p>
    <p class="small">The information provided on this website, including event details, dates, and related content, is for informational purposes only. While we strive to ensure accuracy, Main Street Pulse makes no guarantees regarding the completeness, reliability, or accuracy of this information. We are not liable for any errors or omissions, nor for any actions taken based on the content provided.</p>
    <p class="small">We strongly recommend consulting with a qualified tax attorney, financial advisor, or other professional to confirm any information before making financial, legal, or investment decisions. Use of this information is at your own risk.</p>
  </div>
</div>