{% include head.html %}
  <body data-bs-spy="scroll" data-bs-target="#navScroll">
  {% include nav.html %}
  <main>
    <div class="w-100 overflow-hidden">
      <div class="container-fluid bg-gray-100" style=" background: {{ page.banner_color }};">
        
        <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-10 py-vh-5">
              <h1 class="display-3 fw-bold mt-5 pt-3">{{ page.title }}</h1>
              <p class="lead">{{ page.description }}</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    {{ content }}
  </main>
  {% include footer.html %}
  </body>
</html>
 
